.sidenav {
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 15px;
}

.sidenav a {
    border-radius: 5px;
    padding: 6px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.home {
    color: #FFF;
    background-color: #353754;
}

.projects {
    color: #FFF;
    background-color: #804A62;
}

.experience {
    color: #000;
    background-color: #A1B9DD;
}

.skills {
    color: #000;
    background-color: #FC7058;
}

.education {
    color: #000;
    background-color: #FFFA85;
}

.contact {
    color: #000;
    background-color: #FC7058;
}

.resume {
    color: #FFF;
    background-color: #313233;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
    
}