<nav class="nav navbar-expland-lg navbar-dark" style="background-color: #353754;">
  <a class="navbar-brand" [routerLink]="['/home']">Mandi Howell</a>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/projects']" style="background-color: #804A62; color: #FFF;">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="background-color: #A1B9DD; color: #000;">Experience</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: #FC7058; color: #000;">Skills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: #FFFA85; color: #000;">Education</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: #FC7058; color: #000;">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: #313233; color: #FFF;">Resume</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>