<div class="main">
    <div class="container">
        <div class="row" style="height: 50px;"></div>
        <div class="row">
            <div class="col-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">HomeSite</h5>
                        <h6 class="card-subtitle mb-2 text-muted">ASP.NET</h6>
                        <p class="card-text">Web site written in C# ASP.NET. Nothing too fancy,
                            but it does have a list of our cattle.
                        </p>
                        <div class="card-footer">
                            <a href="http://www.mandihowell.name">Web Site</a><br />
                            <a href="https://github.com/allst896/HomeSite">Code on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">alpha-blog</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ruby on Rails</h6>
                        <p class="card-text">Blogging site written in Ruby on Rails using the Udemy course
                            <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/overview">
                            The Complete Ruby on Rails Developer Course</a>.
                        </p>
                        <div class="card-footer">
                            <a href="http://www.mandisstation.com">Web Site</a><br />
                            <a href="https://github.com/allst896/alpha-blog">Code on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">angular-portfolio</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ruby on Rails</h6>
                        <p class="card-text">You are here! This site written in Angular.</p>
                        <div class="card-footer mt-auto"><a href="https://github.com/allst896/angular-portfolio">Code on GitHub</a></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">PhotoEdit</h5>
                        <h6 class="card-subtitle mb-2 text-muted">C# WPF</h6>
                        <p class="card-text">The program uses treeviews, drop-downs, panels, mail message, and
                            other stuff.
                        </p>
                        <div class="card-footer mt-auto"><a href="https://github.com/allst896/PhotoEdit">Code on GitHub</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>