.main {
    height: 100vh;
    background-color: #353754;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: -webkit-linear-gradient(to bottom,#353754,#804A62);
    background-image: -moz-linear-gradient(to bottom,#353754,#804A62);
    background-image: -o-linear-gradient(to bottom,#353754,#804A62);
    background-image: linear-gradient(to bottom,#353754,#804A62);
}